<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Web App</title>

</head>
{% include "nav.html" %}
<div id="content"></div>
<body>
<div class="container align-center">
    <h1 class="mt-5">About Our Project</h1>

    <h3 class="mt-5" style="text-align: center; hover: none; width: 80%">
        This is a tool to assist in digitization efforts for University of Florida researchers transcribing butterfly specimens for the Lepidoptera collection.
        <br><br>
        Users can upload batches of images and our website will attempt to transcribe their text content using machine learning. Next, users can edit the transcriptions from the web interface and save them as a .csv file for bulk uploading to the collection database.<br><br>

        Designed by students Alexia Rangel Krashenitsa, Alex Harvey, Brielle Stokes, and Katja Karoleski at the University of Florida for Senior Project Spring 2025.<br><br>

    For our project repository and more information about our project, please visit<br>
    <a href="https://github.com/brielle5810/TJS_Project">https://github.com/brielle5810/TJS_Project</a>
    </h3>
</div>

</body>
</html>