<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading OCR...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="page-loading">
    {% include "nav.html" %}
    <div id="content"></div>


    <div id="progress-box-container">

        <h1 style="color: #006666; font-weight: bold;">Transcribing...</h1>
        <h2 style="color: #578a3d">Image transcription is taking place.</h2>
        <h3 style="color: #578a3d"><i>This may take some time...</i></h3>

        <div style="margin-top: 3%; background-color: #f3f7e9; border-color: #578a3d; border-width:3px; border-radius: 10px" id="progress-box">
            <div id="progress-bar" style="background-color: #578a3d; border-radius: 7.5px; border-width: 3px; border-color: #3b7548">0%</div>
        </div>
            <div  style="display: flex; flex-direction: row; font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.83em; margin-left: 0; margin-right: 0; font-weight: bold;">
                <div id="num-processed" style="color: #006666">-</div>
                <span style="color: #006666">&nbsp;/&nbsp;</span>
                <div id="num-files" style="color: #006666">-</div>
                <span style="color: #006666">&nbsp;image files processed </span>
        </div>
    </div>




</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        //console.log("Page Loaded");

        //updateBar();
        //const updateInterval = setInterval(updateBar, 200);     //Updates progress bar 5 times per second
        const updateInterval = setInterval(updateBar, 500);     //Updating twice per second should be sufficient? And would cut down on function calls

        fetch('/ocr', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => {
            console.log("OCR complete:", data);
            clearInterval(updateInterval);
            window.location.href = '/output'; // Redirect when done
        })
        .catch(error => {
            clearInterval(updateInterval);
            console.error("Error during OCR transcription:", error);
        });

    });

    var i = 0;
    var width = 0;
    var numProcessed = 0;
    var numFiles = 0;
    function updateBar() {
        //console.log("width:", width);

        if (i == 0) {
            i = 1;
            var elem = document.getElementById("progress-bar");
        //}
            fetch('/progress')
            .then(response => response.json())
            .then(data => {
                console.log("Update:", data);
                numProcessed = data.num_processed;
                numFiles = data.num_files;
                console.log("Num files:", numFiles);
                width = Math.floor((numProcessed * 100.0) / numFiles);
            })
            .catch(error => {
                console.error("Error with updating progress bar:", error);
            });
            elem.style.width = width + "%";
            elem.innerHTML = width + "%";
            document.getElementById("num-processed").textContent = numProcessed;
            document.getElementById("num-files").textContent = numFiles;
            //}
            i = 0;
        }
    }
</script>
</html>
