<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
{% include "nav.html" %}
<div id="content"></div>
<head>
    <style>
        .mb-2 {
            background-color:#f3f7e9;
            color:#006666;
            border-color:#578a3d;
            border-radius:10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
        }
        .center-container {
            text-align: center;
        }
    </style>
</head>
<body class="">

    <div class="container mt-4">
        <h2 class="text-center" style="font-weight:bold; color:#006666;">Adjust Processing</h2>
            <div class="gallery-container p-5">
                {% for image in images %}
                    <div class="row align-items-center text-center">
                        <div class="col-4" style="display: flex; justify-content: center;">
                            <div class="card p-2" style="width: fit-content; height: fit-content;">
                                <img src="{{ url_for('download_preprocessed_file', name=image) }}" class="card-img-top-reprocess">
                            </div>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="w-100" style="max-width: 300px;">
                                <input type="hidden" name="selected_images" value="{{ image }}">
                                <div class="row">
                                    <label style="font-weight:bold; color:#006666;">Crop Width Adjustment:</label>
                                    <input onchange="modifyExample('{{ image }}'); this.nextElementSibling.value = this.value" type="range" name="crop_factor_{{ image }}" min="0.01" max="1.00" step="0.01" value="0.4"><output>Default: 0.4</output>
                                </div>
                                <div class="row">
                                    <label style="font-weight:bold; color:#006666;">Line Thickness Adjustment:</label>
                                    <input onchange="modifyExample('{{ image }}'); this.nextElementSibling.value = thickValue(this.value)" type="range" name="line_thick_{{ image }}" min="0" max="6" step="1" value="4"><output>Default: thick</output>
                                </div>
                                <div class="row">
                                    <label style="font-weight:bold; color:#006666;">Processing Strength:</label>
                                    <select onchange="modifyExample('{{ image }}')" name="processing_strength_{{ image }}">
                                        <option value="soft" style="color: #578a3d" selected>Soft</option>
                                        <option value="medium" style="color: #3b7554">Medium</option>
                                        <option value="strong" style="color: #006666">Strong</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4" style="display: flex; justify-content: center;">
                            <div class="card p-2" style="width: fit-content; height: fit-content;">
                            <img id="modifiedImage_{{ image }}" src="{{ url_for('download_modified_file', name=image) }}" class="card-img-top-reprocess">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>

    <br>
        <div class="center-container">
            <button type="submit" class="mb-2" onclick="returnToGallery()"><b>Back to Gallery</b></button>
        </div>
    <br>

    
</body>
</html>
<script>

    function thickValue(value){
        //translate numerical value into string
        value = parseInt(value);
        string_value = "";
        if (value === 0){
            string_value = "thin x3";
        }
        else if (value === 1){
            string_value = "thin x2"
        }
        else if (value === 2){
            string_value = "thin"
        }
        else if (value === 3){
            string_value = "normal"
        }
        else if (value === 4){
            string_value = "thick"
        }
        else if (value === 5){
            string_value = "thick x2"
        }
        else if (value === 6){
            string_value = "thick x3"
        }
        return string_value;
    }

    function refreshImage(imageName) {
      const img = document.getElementById(`modifiedImage_${imageName}`);
      const timestamp = new Date().getTime();
      img.src = `/modified/${imageName}?t=${timestamp}`;
    }

    function modifyExample(image) {
        const cropInput= document.querySelector(`input[name='crop_factor_${image}']`);
        const lineInput= document.querySelector(`input[name='line_thick_${image}']`);
        const strengthSelect = document.querySelector(`select[name='processing_strength_${image}']`);

        let cropValue;
        let strengthValue;
        let lineValue;

        if (!cropInput) {
            cropValue = 0.4;    //default
        }
        else{
            cropValue = cropInput.value;
        }
        if (!lineInput) {
            lineValue = 4;    //default (thick)
        }
        else{
            lineValue = lineInput.value;
        }
        if (!strengthSelect){
            strengthValue = "soft";   //default
        }
        else{
            strengthValue = strengthSelect.value;
        }

        console.log("Cropvalue is " + cropValue + " and linevalue is " + lineValue + " and strength is " + strengthValue + " for image " + image );

        fetch('/img_reprocessing', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                image_name: image,
                crop_factor: cropValue,
                line_value: lineValue,
                processing_strength: strengthValue,
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(data);
                refreshImage(image);
            } else {
                alert(`Error: ${data.error}`);
            }
        });
    }

    function returnToGallery() {

        fetch('/update_img_gallery', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(data);
                window.location.href = "/image_gallery";
            } else {
                alert(`Error: ${data.error}`);
            }
        });
    }
</script>
